<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="navigation">
    <test name="HomePageTest">
        <classes>
            <class name="org.navigation.HomePageTest"/>
        </classes>
    </test>
    <test name="testHomePage">
        <classes>
            <class name="org.navigation.NavigationLinksTest"/>
        </classes>
    </test>
</suite>
